body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: white;
    color: rgb(0,0,0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(70, 70, 70, 0.58);
    font-size: 12px;
}


.left-elements,
.right-elements {
    display: flex;
    align-items: center;
}

.right-elements {
    margin-left: auto;
}

img{
    margin-left: -17px;
    color:rgb(70, 70, 70);
}
.main_container {
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP2-859x540");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    height: 900px;
}
.info {
    padding-top: 200px;
    padding-left: 100px;
}
h1{
    font-size: 26px;
    font-family: 'Arial';
    font-weight: bold;
}
.info_descr {
    margin-top: -15px;
    font-size: 15px;
    width: 500px;
    font-family: 'Arial', sans-serif;
}
.first_box {
    background-color: black;
    color: white;
    width: 180px;
    height: 50px;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.second_container{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.second_box {
     color: black;
     width: 180px;
     height: 50px;
     text-align: center;
     display: inline-block;
     align-items: center;
     justify-content: center;
 }

.box_in_second {
    width: 20%;
    margin-right: 40px;
    display: inline-block;
}
